@font-face {
  font-family: "MyFont";
  src: url("./Proxima\ Nova\ Reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bison";
  src: url("./Bison-Bold\(PersonalUse\).ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "MyFont", Roboto, Arial, Helvetica;
  --header-color: rgb(30, 41, 59, 0.8);
  --footer-color: rgb(30, 41, 59, 0.7);
  --main-color: rgb(71, 85, 105, 0.5);
  --button-color: rgb(71, 85, 105, 0.5);
  --button-active: rgb(128, 0, 128, 0.4);
}

.active {
  background-color: var(--button-active);
  font-weight: 700;
}

.mealContainer:hover {
  background-color: var(--button-active);
}
.logo:hover {
  outline: 1px solid white;
  outline-offset: 1rem;
}
button:hover {
  transform: scale(0.95);
}
p {
  font-size: 1.5rem;
  line-height: 2ch;
  widows: 2;
  orphans: 2;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--header-color);
}

nav {
  padding: 1rem 6rem;
  height: 100px;
  width: 100vw;
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.cooks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  justify-items: center;
}

.cooksTitle {
  font-size: 2rem;
}
.cook {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.name {
  font-size: 1.8rem;
}

.logo {
  width: 4rem;
  height: auto;
}
#content {
  display: grid;
  gap: 3rem;
  padding: 1rem 4rem;
  justify-items: center;
}

h1 {
  font-size: 3rem;
  font-family: "Bison", "MyFont", Roboto;
  letter-spacing: 0.4rem;
}

.avi {
  border-radius: 0.5rem;
  border: 2px solid var(--footer-color);
  width: 16vw;
  height: auto;
  grid-row: 2;
}

body {
  width: 100%;
  padding: 0 2rem;
  height: 60vh;
  text-wrap: wrap;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--main-color);
}

button {
  width: 15ch;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: var(--button-color);
  color: white;
  border: 0.1rem var(--main-color) solid;
  font-weight: 500;
}

/* menu tab */

.menuContainer {
  display: grid;
  gap: 2rem;
}
.mealName {
  font-size: 1.8rem;
  font-weight: 600;
  width: auto;
}

.mealPrice {
  font-size: 1.6rem;
}

.mealDescription {
  font-size: 1.5rem;
}

.menuTitle {
  font-size: 2.5rem;
  font-family: "Bison", "MyFont", Roboto;
}

.mealContainer {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  border: 2px dotted black;
  padding: 2rem 1rem;
}
/* about tab */

.about {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.about-title {
  font-size: 2.5rem;
  font-family: "Bison", "MyFont", Roboto;
}

.about-text {
  font-size: 1.5rem;
  line-height: 2.5ch;
}

.location {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.map {
  width: 800px;
  height: 500px;
  border-radius: 0.8rem;
  border: none;
}

.address {
  font-size: 1.5rem;
  line-height: 2.1ch;
  width: 10ch;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
}
/* footer */

.footer {
  display: grid;
  justify-items: center;
  width: 100vw;
  margin-bottom: 0;
  font-size: 1.5rem;
  background-color: var(--footer-color);
  padding: 2rem;
}

.socialTitle {
  font-size: 2rem;
  grid-area: 1 / 1 / 2 /3;
}

.social {
  width: 50vw;
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
}

/* Gallery */

.imgContainer {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  gap: 1rem 6rem;
  width: 100%;
  height: 100%;
}

.galleryImage {
  width: 500px;
  height: 350px;
  border: none;
  border-radius: 0.2rem;
}

.display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.galleryTitle {
  font-size: 1.7rem;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: 500;
}
